@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", Georgia, serif;
  --font-roboto: "Roboto", sans-serif;
}

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.news-link {
  @apply text-black underline font-bold;
}

.paragraph-indent p {
  text-indent: 4rem;
  margin-bottom: 1.5rem;
}