@import "tailwindcss";
html, body {
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.news-link {
  @apply text-black underline font-bold;
}

/* index.css or global.css */
.paragraph-indent p {
  text-indent: 4rem; /* first-line indent */
  margin-bottom: 1.5rem; /* optional spacing between paragraphs */
}
